.app-card-container {
  background: hsl(0, 0%, 98%);
}
.app-card-container-dark,
.search-dark {
  background: hsl(207, 26%, 17%);
}
.search-dark,
.search {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-dark,
.search:nth-child(1) {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
