.navbar-container {
  padding: 25px;
  background: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mode {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.mode img {
  max-width: 30px;
}
