.navbar-container {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  background: white;
}
.navbar-container-dark {
  padding: 25px;
  background: hsl(209, 23%, 22%);
  color: white;
}
.navbar-container-dark nav,
.navbar-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mode {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.mode img {
  max-width: 30px;
}
