.region-filter-container,
.region-filter-container-dark {
  padding: 25px;
}
.region-filter-container-dark {
  background: hsl(207, 26%, 17%);
}
.filter-header {
  background: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.filter-header h4 img {
  width: 20px;
}
.filter-header h4 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.filter-options {
  display: none;
}
li {
  list-style-type: none;
  cursor: pointer;
  padding: 5px;
}

.region-filter-container-dark {
  list-style-type: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
.filter-options-toggle {
  border-radius: 10px;
  padding: 15px;
  margin-top: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.region-filter-container-dark .filter-options-toggle {
  display: block;
  background: hsl(209, 23%, 22%);
  border-radius: 10px;
  padding: 15px;
  margin-top: 5px;
  color: hsl(0, 0%, 98%);
}
.region-filter-container-dark .filter-header {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
